openapi: 3.0.0
info:
  title: Wechat order api
  description: wechat order api
  version: 0.0.1-snapshot
  termsOfService: 'https://github.com/tb280320889'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  contact:
    name: Sherlock Tang
    url: 'https://github.com/tb280320889'
    email: 280320889@qq.com
servers:
  - url: 'http://winter-glitter-4840.getsandbox.com'
    description: no formal website yet
    variables:
      username:
        default: demo
        description: demo description
      port:
        enum:
          - '8080'
          - '443'
        default: '8080'
      basePath:
        default: wechat-order
  - url: 'https://github.com/tb280320889'
    description: free sandbox website for testing API
paths:
  /buyer/products:
    get:
      summary: return all categories and their products
      description: return all categories and their products
      responses:
        '200':
          $ref: '#/components/responses/getBuyerProducts'
components:
  responses:
    getBuyerProducts:
      description: response for get -> buyer/products
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/responesCodeMsg'
  schemas:
    responesCodeMsg:
      type: object
      properties:
        code:
          type: integer
          format: int32
          example: 0
        msg:
          type: string
          example: success
        data:
          type: array
          items:
            $ref: '#/components/schemas/categoryProducts'
    categoryProducts:
      type: object
      properties:
        name:
          type: string
          example: category 1
        type:
          type: integer
          format: int32
          example: 1
        foods:
          type: array
          items:
            $ref: '#/components/schemas/productVo'
    productVo:
      description: basic information about one product
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        price:
          type: number
          format: double
          minimum: 0.01
        description:
          type: string
        icon:
          type: string
        example:
          $ref: '#/components/examples/productVo'
  examples:
    productVo:
      value:
        id: '123456'
        name: omelet
        price: 1.2
        description: nice breakfast
        icon: 'http://xxxx.jpg'
  securitySchemes:
    wechatOAuth2Login:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://open.weixin.qq.com/connect/qrconnect?appid=APPID&redirect_uri=REDIRECT_URI&response_type=code&scope=SCOPE&state=STATE#wechat_redirect
          tokenUrl: https://api.weixin.qq.com/sns/oauth2/access_token?appid=APPID&secret=SECRET&code=CODE&grant_type=authorization_code
          refreshUrl: https://api.weixin.qq.com/sns/oauth2/refresh_token?appid=APPID&grant_type=refresh_token&refresh_token=REFRESH_TOKEN
          scopes:
            write:products: modify products
            read:products: view products
